* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;


}

p a {
    text-decoration: none;
}


body {
    font-family: "Poppins", sans-serif;
    background-color:#000;

}
.bgCard {
    background-color: #ffcead;
}

.star-rating {
    line-height: 32px;
    font-size: 1.25em;
}

.star-rating .fa-star {
    color: #ffd000;
}

.selectedImg {
    object-fit: cover;
}

.text-shadow {
    text-shadow: 1px 6px 3px #8C092D;
    margin-top: 80px;
}
.card {

    border: none;
    box-shadow: 5px 6px 6px 2px #320a0a;
    border-radius: 4px;
    background-color: #0c0e12;
}


.dots{

    height: 4px;
    width: 4px;
    margin-bottom: 2px;
    background-color: #232323;
    border-radius: 50%;
    display: inline-block;
}

.badge{

    padding: 7px;
    padding-right: 9px;
    padding-left: 16px;
    box-shadow: 5px 6px 6px 2px #320a0a;
}

.user-img{

    margin-top: 4px;
}

.check-icon{

    font-size: 17px;
    color: #040404;
    top: 1px;
    position: relative;
    margin-left: 3px;
}

.form-check-input{
    margin-top: 6px;
    margin-left: -24px !important;
    cursor: pointer;
}


.form-check-input:focus{
    box-shadow: none;
}


.icons i{

    margin-left: 8px;
}
.reply{

    margin-left: 12px;
}

.reply small{

    color: #303030;

}


.reply small:hover{

    color: green;
    cursor: pointer;

}
